<%= form_tag("/facebook/index", method: "post") do %>
  <%= text_field_tag(:name) %>
  <%= submit_tag("Search") %>
<% end %>

<% if @profile %>
  <h1><%= @profile["name"] %></h1>

  <dl>
    <% @profile.each do |key, value| %>
      <dt><%= key %></dt>
      <dd><%= value %></dd>
    <% end %>
  </dl>
<% end %>